
.landing-font{
  font-family: "Alex Brush", cursive;
   color: #fff;
   font-size: 3rem;
   /* text-align: center; */
  }
.landing-container{
background-color: #08060d;
width: 100%;
/* max-width: 1200px; */
height: 100vh;
 color: #fff;
font-family: inter;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}
.header-landing{
  color: #fff;
  font-size: 16px;
  text-align: center;
  /* justify-self: end; */
  /* align-self: flex-end; */
}
.landing-body-container{
display: flex;
flex-direction: column;
justify-content:space-around;
text-align: left;
height: 100vh;
width: 70%;
margin: 0 auto;
max-width: 500px;

}

.landing-body-container > h1{
  font-weight: 100;
}

.landing-btn-container{
    text-align: center;
    /* color: red; */
    padding: 0.5em;
    border-radius: 12px;
    width: 70%;
    cursor: pointer;
    background-color: #BB4284;
    margin: 0 auto;

}
.landing-button{
    width: 100%;
    cursor: pointer;
    background-color: inherit;
    border: none;
    color: white;
    display: flex;
    justify-content: center ;
    align-items: center;

}
.logo-hero{
  width: 15rem;
}